.footer {
  background-color: var(--color-secondary);
}

.links {
  color: #fff;
  text-decoration: none;
}

.links {
  margin: auto;
}

.footer .icon {
  margin: auto;
}

@media only screen and (min-width: 38em) {

  .links {
    float: left;
  }

  .footer .icon {
    float: right;
  }

}
