.header {
  background-image: url("../../images/bubbl-banner.jpg");
  background-size: cover;
  background-position: center;

}

.transparency {
  background-color: rgba(94, 175, 181, 0.7);
}

.nav {
  background-color: var(--color-secondary);
}

.header-nav-a {
  text-decoration: none;
  color: #fff;
}

.header-nav-a:hover {
  color: var(--color-primary);
}

.list-group {
  padding: 0;
  margin: 0;
}

.nav-links {
  display: inline-block;
  float: right;
}

.logo img {
  width: 100%;
  max-width: 400px;
}
