.btn {
  background-color: transparent;
  border-color: var(--color-secondary);

  color: var(--color-secondary);
}

.btn-ghost {

}

.btn-bold {
  background-color: var(--color-highlight);
  border-color: var(--color-highlight);

  color: #fff;
}

.btn-bold-ghost {
  background-color: transparent;
  border-color: var(--color-highlight);

  color: var(--color-highlight);
}
