.btn {
  background-color: transparent;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: #fff;
}

.btn-bold {
  background-color: var(--color-highlight);
  border-color: var(--color-highlight);
  color: #fff;
}

.btn-bold-ghost {
  background-color: transparent;
  border-color: var(--color-highlight);
  color: var(--color-highlight);
}

.btn-bold-ghost:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: #fff;
}

.btn-nav-foot {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}

.btn-nav-foot:hover {
  background-color: transparent;
  border-color: var(--color-secondary);
  color: #fff;
}

.btn-white {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.btn-white:hover {
  background-color: #fff;
  border-color: #fff;
  color: var(--color-secondary);
