:root {
  --color-primary: #c1d83a;
  --color-secondary: #505252;
  --color-highlight: #ff693c;
  --color-accent: #ddd;

  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
}
