:root {
  --color-primary: #5eafb5;
  --color-secondary: #505252;
  --color-highlight: #ff693c;
  --color-accent: #ddd;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Roboto Slab", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

h2 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

h3 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

h4 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

h5 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

h6 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

p {
  font-family: var(--font-primary);
  color: var(--color-secondary);
}

a {
  font-family: var(--font-primary);
  color: var(--color-highlight);
}

q {
  font-family: var(--font-secondary);
  color: var(--color-highlight);
}

mark {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

del {
  text-decoration-color: var(--color-highlight);
}

ul li {
  color: var(--color-primary);
}

ol li {
  color: var(--color-primary);
}

dl {
  color: var(--color-primary);
}

blockquote {
  color: var(--color-secondary);
  font-weight: bold;
}

cite {
  font-weight: bold;
}

dfn {
  color: var(--color-secondary);
}
